* {
  vertical-align: baseline;
  font-family: sans-serif;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffcc00;
  --secondary-color: #6c2e00;
  --secondary-color-shadow: #6c2f0052;
  --highlight-color: #f6685e;
}

#content {
  height: 100%;
}

/* 

COMMON STYLES

*/

.content-wrapper {
  max-width: 1170px;
  padding: 0 30px;
  margin: auto;
}

.head-label {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0.5rem 0 1.5rem;
  color: var(--secondary-color);
}

.sublabel {
  color: var(--secondary-color);
}

/* 

HOME PAGE

*/

/*  NAVIGATION BAR */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.coco-logo {
  padding: 1.5rem 0 1.5rem 2rem;
}

.coco-logo img {
  width: 150px;
}

.coco-logo-name {
  font-size: 1.4rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
}

.nav-link {
  margin: 1rem;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--highlight-color);
}

/*  HEADER */

.header {
  position: relative;
  padding: 25px 0 50px;
}

.header-bg {
  position: absolute;
  z-index: -1;
  top: -120px;
  right: -100px;
  transform: scale(0.95);
}

.header-logo img {
  width: 210px;
  margin-bottom: 2rem;
}

.header-info {
  color: var(--secondary-color);
}

.header-info.established {
  font-size: 2.4rem;
}

.established-year {
  font-size: 2em;
}

.header-info.history {
  width: 30%;
  font-size: 0.8rem;
  padding-left: 20px;
  margin-top: 1rem;
}

.header-info.history::before {
  content: '';
  height: 100%;
  width: 1rem;
  background-color: var(--secondary-color);
}

/*  ABOUT PART */

.about-info-container {
  background: url(../img/coco-store.jpeg) no-repeat;
  background-position-x: center;
  background-position-y: 5%;
  position: relative;
  height: fit-content;
  color: white;
  padding: 4rem 2rem;
}

.about-info.main,
.about-info.history {
  position: relative;
  z-index: 2;
  padding: 2rem 0;
}

.about-info.main {
  margin-top: 8rem;
  font-size: 3rem;
  font-weight: 800;
}

.about-info.history {
  font-size: 1.2rem;
}

.about-info.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 1;
}

/*  SHOPS PART */

.shops {
  color: var(--secondary-color);
  margin: 3rem 0;
}

.shops-links {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  margin-bottom: 5rem;
}

.shops-link {
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-color-shadow);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 2px 1px 0px var(--secondary-color-shadow);
  cursor: pointer;
  transition: color ease-in 150ms;
}

.shops-link:hover {
  color: var(--highlight-color);
}

.shops-link.lead,
.shops-link.others {
  font-weight: 800;
}

.shops-link.lead {
  grid-row: 1 / 3;
}
.shops-link.lead img {
  max-width: 50%;
  height: 100%;
}

/*  FOOTER */

footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 2rem;
}

/* 

MENU PAGE

*/

.menu {
  margin-top: 2rem;
}

.menu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: auto;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  margin: 2rem 0.75rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.menu-item:hover {
  color: var(--highlight-color);
}

.menu-label {
  display: flex;
  align-items: center;
  margin: auto;
  font-weight: bold;
}

.menu-plus-circle {
  position: relative;
  width: 17.5px;
  height: 17.5px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin-right: 0.25rem;
}

.menu-item img {
  width: 100%;
  height: 100%;
}

/* .menu-plus-circle::before {
  content: '+';
  color: white;
  font-family: sans-serif;
  font-weight: 1200;
  position: absolute;
  left: 17.5%;
  top: 5%;
} */

/*  HELPERS */

.hidden {
  display: none;
}
